{% extends 'main/base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p>
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Email:</label>
                {{ form.username }}
            </p>
            <p>
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </p>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="" />
        </form>

    </div>
{% endblock %}
