{% autoescape off %}
Hello {{ name }},

Attached is your I3™ Assessment Tool report. Click here http://www.innovationiseasy.com/contact.html to contact us with any questions you may have or to schedule a free 15 minute consultation to review these results.

Visit http://innovationiseasy.com/services to find out more about the work we do including POP! Culture® Workshops,
Pre-Notes®, Lunch and Learns, and our games, apps, and self paced services.

Sincerely,
The Innovation Company
Unleashing the ideas and talents of EVERYONE™
info@innovationiseasy.com
978-266-0012
{% endautoescape %}
