{% autoescape off %}
Hello {{ name }},

Attached  is your I3™ Assessment Tool report. Please contact us with any questions by simply replying to this email to
discuss next steps and how we can transform your team or company.

Visit http://innovationiseasy.com/services to find out more about the work we do including POP! Culture® Workshops,
Pre-Notes®, Lunch and Learns, and our FREE games, apps, and self paced services.

Sincerely,
The Innovation Company
Unleashing the talents of EVERYONE™
info@innovationiseasy.com
978-266-0012
{% endautoescape %}
