{% extends 'base.html' %}

{% block title %}Manage Surveys{% endblock %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
             <p>You're logged in as {{ user.email }}</p>
             <p><a href="{% url 'logout' %}">Click here to log out</a></p>
        {% endif %}
    </div>
    <h3>Survey Details</h3>
    <div>
        <table style="width: 100%">
            <tr>
                <th>Survey Name</th>
                <th>Date Created</th>
                <th>Responses</th>
                <th>Status</th>
                <th>Change Status</th>
                <th>Link</th>
            </tr>
            {% for survey, count in surveys %}
                <tr>
                    <td>{{ survey.survey_name }}</td>
                    <td>{{ survey.created_date.date }}</td>
                    <td>{{ count }}</td>
                    {% if survey.closed %}
                        <td>CLOSED</td>
                        <td><a href="{% url 'open_survey' survey.pk %}">Reopen this survey</a></td>
                    {% else %}
                        <td>OPEN</td>
                        <td><a href="{% url 'close_survey' survey.pk %}">Close this survey</a></td>
                    {% endif %}
                    <td><a href="{% url 'get_link' survey.pk %}">Resend link to me</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form method="POST" style="border-top:solid #aaaf33 8px; margin-top: .5em; padding-top: 2em;">
            {% csrf_token %}
            <h3>Additional Surveys</h3>
            <p><label>If you would like to create additional surveys for other teams or subgroups please enter a
                survey name in the box below and click on the Add New Survey button. A link for that survey will be sent
                to your inbox.  You will be able to manage all of your surveys from one Administrator Console.</label></p>
            <label for="{{ AddSurveyForm.survey_name.id_for_label }}">Survey name:</label>
            {{ AddSurveyForm.survey_name }}
            <input type="submit" value="Add New Survey" />
    </form>

    </div>
    <div>
        <p>
            <h3>Instructions</h3>
            <ol>
                <li>Check your email inbox for a message from us with a link to your survey.  The email will come from survey@innovationiseasy.com.</li>
                <li>Forward the link to the people you would like to have complete the survey.</li>
                <li>Check back here to see the number of responses or log in at survey.innovationiseasy.com{% url 'login' %}.</li>
                <li>
                    When ready, close the survey by clicking the link under Change Status.  A report will
                    automatically be generated and emailed to you.
                </li>
                <li>
                    Please allow 10-15 minutes for your report to be generated. Note that a report requires a minimum
                    of {{ MIN_RESPONSES }} response{% if MIN_RESPONSES > 1 %}s{% endif %} or it will not be generated.
                </li>
                <li>Add additional surveys as needed.</li>
                <li>Contact us at survey@innovationiseasy.com with any questions.</li>
            </ol>
        </p>
    </div>

{% endblock %}