{% extends 'base.html' %}

{% block title %}New Survey User{% endblock %}

{% block content %}
    <div>
        <div>
            <p>
                If you already have an account, <a href="{% url 'login' %}">click here to log in</a> or
                    <a href="{% url 'password_reset' %}">click here to reset your password</a>.
            </p>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="{{ form.team_or_company.id_for_label }}">Team or company:</label></td>
                        <td>{{ form.team_or_company.errors }}{{ form.team_or_company }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.survey_name.id_for_label }}">Survey Name:<span style="color:red">*</span></label></td>
                        <td>{{ form.survey_name.errors }}{{ form.survey_name }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.first_name.id_for_label }}">First name:<span style="color:red">*</span></label></td>
                        <td>{{ form.first_name.errors }}{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.last_name.id_for_label }}">Last name:<span style="color:red">*</span></label></td>
                        <td>{{ form.last_name.errors }}{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.email.id_for_label }}">Email:<span style="color:red">*</span></label></td>
                        <td>{{ form.email.errors }}{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td><label for="{{ form.password1.id_for_label }}">Create password:<span style="color:red">*</span></label></td>
                        <td>{{ form.password1.errors }}{{ form.password1 }}</td>
                    </tr>
                </table>
                <p>Note: Fields with a <span style="color:red">*</span> are required.</p>
                <p>
                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                </p>
                <table>
                    <tr>
                        <td><label for="{{ form.password2.id_for_label }}">Password confirmation:<span style="color:red">*</span></label></td>
                        <td>{{ form.password2.errors }}{{ form.password2 }}</td>
                    </tr>
                </table>
                <div>Enter the same password as before, for verification.</div>
                <input type="submit" value="Create Survey" />
            </form>
        </div>
    </div>
{% endblock %}